body {
  background-color: #ffdede;
  color: #666666;
}

.hidden {
  display: none;
}

section {
  border: 1.5px solid #9e9d9d;
  border-radius: 10px;
  box-shadow: 0 1px 1px 0 #9e9d9d;
}

input {
  background-color: transparent;
  border-color: transparent;
  border-bottom: 1px solid #000;
  text-align: center;
  padding: 10px;
}

button {
  background-color: #f2eeee;
  border: 1px solid #f2eeee;
  border-radius: 3px;
  padding: 5px;
}
