/* header - login */
header {
  position: fixed;
  right: 3vw;
}

/* #login-form input {
  background-color: transparent;
  border-color: transparent;
  border-bottom: 1px solid #000;
  text-align: center;
  padding: 10px;
} */

#greetings {
  font-size: 20px;
}

/* main */
main {
  padding: 10vh 5vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1vw;
}

/* todo */
#todo-box {
  height: 80vh;
}

#todo-title {
  background-color: #f2eeee;
}

#todo-form {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 1%;
}

#todo-form input {
  width: 80%;
}

/* 가운데 열 */
#center-column {
  display: grid;
  grid-template-rows: 1fr 3fr;
  gap: 2vh;
}

/* 날짜/시간 */
#date-time {
  text-align: center;
}

#time {
  font-weight: 900;
  color: var(--main-color);
  font-size: xx-large;
}

/* 오른쪽 열 */
#right-column {
  display: grid;
  grid-template-rows: 0.7fr 1.5fr 1fr;
  gap: 2vh;
}

/* 음악 플레이어 */
#music-box {
  background-color: var(--main-color);
}

/* 테마 */
#theme-box {
  background-color: var(--main-color);
}

#img-box {
  margin: 1vh 2vw;
  display: flex;
  justify-content: space-between;
  gap: 1vw;
}

img {
  width: 3vw;
}

.pink {
  background-color: --m;
}
