/* header - login */
header {
  position: fixed;
  right: 3vw;
}

/* #login-form input {
  background-color: transparent;
  border-color: transparent;
  border-bottom: 1px solid #000;
  text-align: center;
  padding: 10px;
} */

#greetings {
  font-size: 20px;
}

/* main */
main {
  padding: 10vh 5vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1vw;
}

/* todo */
#todo-box {
  height: 80vh;
}

#todo-title {
  background-color: #f2eeee;
}

#todo-form {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 1%;
}

#todo-form input {
  width: 80%;
}

#todo-list li {
  width: 90%;
}

#todo-list button {
  margin-left: 10px;
  background-color: #f4f4f470;
  border-color: #f4f4f470;
}

/* 가운데 열 */
#center-column {
  display: grid;
  grid-template-rows: 1fr 3fr;
  gap: 2vh;
  height: 80vh;
}

/* 날짜/시간 */
#date-time {
  text-align: center;
  height: 20vh;
  background-color: #fff;
}

#time {
  font-weight: 900;
  color: var(--darkFont-color);
  font-size: 3em;
  margin: 0 auto;
}

/* 음악 플레이어 */
#music-box {
  height: 55vh;
  padding: 0 5% 5% 5%;
}

#player {
  display: flex;
}

#thumbnail {
  width: 100%;
  max-height: 300px;
}

.controls button {
  width: 120px;
  height: 90px;
  font-size: 30px;
  background-color: transparent;
  border: transparent;
}

/* 오른쪽 열 */
#right-column {
  display: grid;
  /* grid-template-rows: 1fr 1.5fr 1.4fr; */
  gap: 2vh;
  height: 80vh;
}

/* 테마 */
#theme-box {
  height: 20vh;
}

#img-box {
  margin: 2vh 2vw;
  display: flex;
  justify-content: space-between;
  gap: 1vw;
}

img {
  width: 3vw;
}

/* 명대사 */
#quote {
  height: 15vh;
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: flex-end; */
}

#quote span:first-child {
  font-size: 1.5em;
  font-style: italic;
  font-weight: 600;
  text-align: center;
}

#quote span:last-child {
  font-size: 1em;
  font-weight: 500;
  align-self: flex-end;
}

#weather-box {
  height: 28vh;
}

#weather-box div {
  text-align: center;
}

#weather-box p:first-child {
  font-size: 2em;
  font-weight: 800;
}

#weather-box p:last-child {
  font-style: italic;
}
